/* Fichier css pour CV */

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background: linear-gradient(90deg, rgba(38,70,83,1) 0%, rgba(0,0,0,1) 0%, rgba(1,27,38,1) 100%);
}
.hidden {
    margin: auto;
    color: aqua;
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.navbar-dark .navbar-toggler {
    color: rgb(11, 236, 124);
    border-color: rgb(11, 236, 124);
    box-shadow:
    0 0 6px rgb(0, 0, 0),
    0 0 30px rgba(0, 0, 0, 0.34),
    0 0 12px rgba(0, 0, 0, 0.52),
    0 0 21px rgba(0, 0, 0, 0.92),
    0 0 34px rgb(11, 236, 124,0.78),
    0 0 54px rgb(11, 236, 124,0.92);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(202, 228, 225, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-menu.show{
    --bs-dropdown-bg: none;
}



.presentation{
    width: 50%;
}

.loader{
    margin: auto;
    padding: 200 auto 0 auto;
    width: 400px;
    height: 4px;
    background: black;
}

.loader::before{
    content: '';
    width: 100%;
    height: 100%;
    background: #0bec7c;
    transform-origin: left;
    animation: animate 8s linear infinite;
}
@keyframes animate{
    0%,20%
    {
        transform: scaleX(0);
    }
    40%
    {
        transform: scaleX(1);
        transform-origin: left;
    }
    40.000001%,60%
    {
        transform: scaleX(1);
        transform-origin: right;
    }
    80%,100%{
        transform: scaleX(0);
        transform-origin: right;
    }        
}

.loader::after{
    content: '';
    position: absolute;

    transform: translateY(-50%) scale(0);
    width: 10px;
    height: 10px;
    background: #0bec7c;  
    border-radius: 50%;
    animation: animateDot 8s linear infinite;
}

@keyframes animateDot{
    0%
    {
        transform: translateY(-50%) scale(0);
    }
    5%
    {
        transform: translateY(-50%) scale(1);
    }
    15%,20%
    {
        transform: translateY(-50%) scale(1);
        box-shadow: 0 0 0 4px #0bec7c22,
        0 0 0 10px #0bec7c22,
        0 0 20px #0bec7c,
        0 0 40px 5px #0bec7c,
        0 0 60px 10px #0bec7c;
    }
    40%
    {
        transform: translateY(-50%) translateX(395px) scale(1);
    }
    80%
    {
        transform: translateY(-50%) translateX(395px) scale(1);
        box-shadow: 0 0 0 4px #0bec7c22,
        0 0 0 10px #0bec7c22,
        0 0 20px #0bec7c,
        0 0 40px 5px #0bec7c,
        0 0 60px 10px rgb(11, 236, 124);
    }
    95%
    {
    transform: translateY(-50%) translateX(395px) scale(1);
    box-shadow: none;
    }
    100%
    {
    transform: translateY(-50%) translateX(395px) scale(0);
    }
}

h1{
    font-size: 2rem;
    height: 50%;
    width: 75%;
}

.competence_projet h2{
    margin: auto;
    padding-bottom: 40px;
    font-size: 1.5rem;
    height: 50%;
    width: 75%;
    padding-bottom: 40px;
}



#nom_prenom{
    position: absolute; /* Position absolue pour aligner à gauche */
    top: 50%; /* Aligner verticalement au milieu */
    left: 50px; /* Aligner à gauche de la page */
    transform: translateY(-70%); /* Ajuster pour aligner verticalement au milieu */
    font-size: 4.5rem;
    font-weight: 500;
    color: #0bec7c;
    text-shadow:
    0 0 6px rgb(0, 0, 0),
    0 0 30px rgba(0, 0, 0, 0.34),
    0 0 12px rgb(11, 236, 124,0.52),
    0 0 21px rgb(11, 236, 124,0.92),
    0 0 34px rgb(11, 236, 124,0.78),
    0 0 54px rgb(11, 236, 124,0.92);
    padding-bottom: 50px;

}

#title_page{
    position: absolute; /* Position absolue pour aligner à gauche */
    top: 50%; /* Aligner verticalement au milieu */
    left: 55px; /* Aligner à gauche de la page */
    transform: translateY(-70%); /* Ajuster pour aligner verticalement au milieu */
    font-size: 3rem;
    padding-top: 100px;
    color: aqua;

}

.about{
    width: 550px;
    text-align: center;
    border: solid 1px #0bec7c;
    border-radius: 25px;
    box-shadow:
    0 0 6px rgba(202,228,225),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgb(11, 236, 124,0.52),
    0 0 21px rgb(11, 236, 124,0.92),
    0 0 34px rgb(11, 236, 124,0.78),
    0 0 54px rgb(11, 236, 124,0.92);
    padding: 25px;
}



p.about__me{
    padding-top: 40px;
}

.competence_projet{
    display: flex;
    justify-content: center;
    gap: 200px;
    height: 300px;
}

.competence{
    width: 250px;

    text-align: center;
    border: solid 1px #0bec7c;
    border-radius: 25px;
    box-shadow:
    0 0 6px rgba(202,228,225),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgb(11, 236, 124,0.52),
    0 0 21px rgb(11, 236, 124,0.92),
    0 0 34px rgb(11, 236, 124,0.78),
    0 0 54px rgb(11, 236, 124,0.92);
    padding: 25px;
}

.projet{
    width: 250px;

    text-align: center;
    border: solid 1px #0bec7c;
    border-radius: 25px;
    box-shadow:
    0 0 6px rgba(202,228,225),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgb(11, 236, 124,0.52),
    0 0 21px rgb(11, 236, 124,0.92),
    0 0 34px rgb(11, 236, 124,0.78),
    0 0 54px rgb(11, 236, 124,0.92);
    padding: 25px;
}

.parcours{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

.container.left-container{
    margin-left: 0;
}

.container.right-container{
    margin-left: 0;
}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}

.text-box{
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    border: solid 1px #0bec7c;
    border-radius: 25px;
    box-shadow:
    0 0 6px rgba(202,228,225),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgb(11, 236, 124,0.52),
    0 0 21px rgb(11, 236, 124,0.92),
    0 0 34px rgb(11, 236, 124,0.78),
    0 0 54px rgb(11, 236, 124,0.92);
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img{
    left: -20px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: white;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.text-box h3{
    font-weight: 600;
}

.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #0bec7c;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #0bec7c;
    left: -15px;
}

@media screen and (max-width: 767px){
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 12px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #0bec7c;
        border-left: 0;
        left: -15px;
    }
}

/* .lune{
    border: solid 1px #F25B25;
    border-radius: 25px;
    box-shadow:
    0 0 6px rgba(202,228,225),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgb(11, 236, 124,0.52),
    0 0 21px rgb(11, 236, 124,0.92),
    0 0 34px rgb(11, 236, 124,0.78),
    0 0 54px rgb(11, 236, 124,0.92);
    padding: 25px;
} */
/* Image de fond et disposition du CV */
/* :hover.navigation_bar{   
    transform: scale(1.2);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
} */

/* #first_page{
    width: 100%;
    height: 100vh;
    background-image: url("images/portable.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
} */

/* 
.navbar{
    position: fixed;
    width: 100%;
}

#navigation{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    font-size: 2rem;
    list-style: none;
    height: 200px;
    padding-left: 0;
} 

.navigation_bar{
    margin: 30px 0;
    padding: 10px 30px;
    
}

#logo{
    width: 100px;
    height: 100px;
}

button{
    color: aqua;
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgb(11, 236, 124,0.52),
    0 0 21px rgb(11, 236, 124,0.92),
    0 0 34px rgb(11, 236, 124,0.78),
    0 0 54px rgb(11, 236, 124,0.92);
}
button:hover{
    color: rgb(242, 91, 37);
    text-decoration: none;
    
}


header{
    display: flex;
    align-items: center;

}*/