/* Fichier css pour CV */

/* Image de fond et disposition du CV */
body{
    font-family: 'Anonymous Pro', monospace;
}
nav{
    background-color: black;

}

#navigation{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    list-style-type: none;
    margin-right: 30px;
    margin-bottom: 0;
    border-bottom: solid 3px #9F9F9F;
}

h1{
    font-size: 3rem;
    text-align: center;
    width: 600px;
    padding: 200px 0;
}

#nom_prenom{
    font-size: 3.5rem;
    color: white;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: solid 2px #9F9F9F;
}


#first_page{
    width: 100%;
    height: 100vh;
    background-image: url("images/portable.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}